.main-login {
    background: white;
    box-shadow: 0px 3px 15px -5px #d1d5db;
    padding: 2rem 2rem 2rem 2rem;
    margin-top: 2rem;
}

.main-login .h1 {
    margin-bottom: 2rem;
    font-style: italic;
}

.main-login .form-control-wrapper {
    margin: 1rem 0;
}

.main-login img {
    height: 15vh;
    display: block;
    margin: 1rem auto;
}

.main-login .btn{
    width: 100%;
}

.main-login .link {
    text-decoration: none;
}

.card-logout {
    max-width: 40rem;
    background-color: white;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 18px -5px #d1d5db;
    margin: 1rem;
}

.card-logout i {
    font-size: 3rem;
    color: var(--clr-primary);
}

.card-logout .logout-msg {
    margin: 2rem 1rem 1rem 1rem;
    font-size: 1.25rem;
}

.card-logout .link {
    text-decoration: none;
    border-bottom: 1px solid var(--clr-primary);
}

.card-logout .link:hover,
.card-logout .link:hover {
    font-weight: 700;
}


@media screen and (max-width: 600px) {

    .main-login {
        box-shadow: none;
        background: transparent;
        margin-top: 0;
    }
    
}
