.cart-main {
    max-width: 1000px;
    margin: 1rem auto;
}

.cart-main .h1 {
    margin: 2rem 0;
}

.cart-container {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}

.cart-products {
    width:50%;
}

.cart-products .icon {
    font-size: 1.25rem;
}

.cart-container .card-image{
    height: auto;
}

.cart-details {
    width: 40%;
}

.coupons-block, .billing-block, .address-block {
    border: 1px solid var(--clr-secondary-light);
    padding: 0.5rem;
}

.coupons-container, .billing-container {
    margin: 1rem 0 0.5rem 0;
    font-size: 0.9rem;
}

.coupons-container .icon, .address-container .icon {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.coupons-container .btn, .address-container .btn {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem
}

.billing-container > div {
    padding: 0.5rem;
}

.border-top {
    border-top: 1px solid var(--clr-secondary-light);
}

.address-container {
    font-size: 0.9rem;
    margin-top: 0.25rem;
}

@media screen and (max-width: 700px) {
    
    .cart-container {
        flex-direction: column;
        padding: 1rem;
    }   

    .cart-products {
        width: 100%;
    }
    
    .cart-details {
        width: 100%;
    }
   
}